body {
	font-family:Verdana, sans-serif;
	font-weight: 400;
	color:white;
	background:url("../img/main.jpg")no-repeat center top;
	background-size: cover;
}


/* HEADER */
header{
  background-color: rgba(0, 0, 0, 0.41);
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin: 20px 81px;
  transition: 0.3s;
}
.right-part{
  margin-right: 81px;
}
.nav, .welcome, .line{
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  margin-left: 28px;
}
.nav li{
  display: inline-block;
  margin-left: 28px;
}
.calendar{
  width: 19px;
  height: 19px;
  background: url('../img/header_pic.png') -1px -23px;
  transition: 0.3s;
}
.forum{
  width: 28px;
  height: 20px;
  background: url('../img/header_pic.png') -1px -1px;
  transition: 0.3s;
}
.journey{
  width: 20px;
  height: 20px;
  background: url('../img/header_pic.png') -31px -1px;
  transition: 0.3s;
}
.line{
  color: grey;
}
.login, .signup{
  color:  #3cb878;
  text-decoration: none;
  transition: 0.3s;
}

/* HOVER */
.calendar:hover{
  width: 19px;
  height: 19px;
  background: url('../img/header_pic_hover.png') -1px -23px;
  cursor:pointer;
}
.forum:hover{
  width: 28px;
  height: 20px;
  background: url('../img/header_pic_hover.png') -1px -1px;
	cursor:pointer;
}
.journey:hover{
  width: 20px;
  height: 20px;
  background: url('../img/header_pic_hover.png') -31px -1px;
	cursor:pointer;
}
.login:hover, .signup:hover{
  text-decoration:underline;
}
.logo:hover{
  color: #3cb878;
}

/* WRAPPER */
.wrapper{
  background-color: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
  width: 444px;
  height: 584px;
  text-align: center;
  position:absolute;
  top:20%;
  left: 34%;
  border-radius: 10px;
  color: #434343;
}
.enter-info{
  margin: 30px 0 25px 0;
  display: flex;
  align-items: center;
  justify-content:space-between;
}
.green-box{
  display: inline;
  /* text-align: left; */
}
.info-text-signup{
  font-size: 20px;
  padding-right: 165px;
}
.link-login{
  padding-right: 50px;
  color:  #3cb878;
  font-size: 14px;
  text-decoration: none;
}
.link-login:hover{
  text-decoration: underline;
  transition: 0.3s;
}
.btns-fb-google{
  display: flex;
  align-items: center;
  justify-content:space-around;
}
.btns-fb-google a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.fb{
  border-radius: 3px;
  background-color:  #305db8;
  width: 157px;
  height: 46px;
  display: flex;
  align-items: center;
  margin-left: 55px;
  transition: 0.3s;
}
.fb:hover{
  background-color:  #264b96;
}
.google{
  border-radius: 3px;
  background-color: #df4a32;
  width: 157px;
  height: 46px;
  display: flex;
  align-items: center;
  margin-right: 55px;
  transition: 0.3s;
}
.google:hover{
  background-color:  #c3412c;
}
.fb-icon, .line, .btn-text, .google-icon{
  margin-left: 20px;
}
.or{
  margin: 20px auto 13px auto;
}
.or-line{
  margin: 25px 15px 18px 15px;
  display: inline;
}
.or span{
  margin: 33px auto 18px auto;
  color:  #848484;
  font-size: 14px;
}
.sign_up_form input{
  width: 322px;
  height: 46px;
  border: 1px solid #bebebe;
  border-radius: 3px;
  background-color:  #ffffff;
  margin: 5px;
  padding-left: 10px;
  color:  #bebebe;
  font-size: 14px;
}
.sign_up_form input:focus{
  outline: 0;
  border: 1px solid #bebebe;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
}
/* Customize the label (the container) */
.container {
  text-align: left;
  margin: 10px auto 10px 55px; /**/
  display: block;
  position: relative;
  padding-left: 30px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
	border: 1px solid #bebebe;
	border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #3cb878;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.sign_up_form label a{
  color:  #3cb878;
  text-decoration: none;
  transition: 0.3s;
}
.sign_up_form label a:hover{
  text-decoration: underline;
}
.sign_up_form .btn-submit{
  background-color: #3cb878;
  color:  #fff;
  font-size: 16px;
  transition: 0.3s;
}
.sign_up_form .btn-submit:hover{
  background-color: #2f9b65;
  cursor: pointer;
}
